<h2 align="center" center="mat-header">~ Signup ~</h2>

<mat-card>
    <form (submit)="onSubmit(signupForm)" #signupForm="ngForm">
        <mat-form-field>
            <input 
                matInput 
                type="text"
                name="username"
                ngModel
                placeholder="Username"
                #userNameInput="ngModel"
                required>
            <mat-error *ngIf="userNameInput.invalid">Please enter a valid username</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input 
                matInput 
                type="email"
                name="email"
                ngModel
                placeholder="E-mail"
                #emailInput="ngModel"
                required
                email>
            <mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input 
                matInput 
                type="password"
                name="password"
                ngModel
                placeholder="Password"
                #passwordInput="ngModel"
                required>
            <mat-error *ngIf="passwordInput.invalid">Please enter a valid email</mat-error>
        </mat-form-field>
        <button 
            mat-raised-button
            type="submit"
            class="submit-button" [disabled]="!signupForm.valid">Signup</button>
    </form>
</mat-card>

